body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ul {
  list-style-type: none;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
